<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Grégory Saive <greg@evias.be> (http://evias.be)" />
    <meta name="description" content="iMeals - Open Source Food Management" />
    <meta name="keywords" content="imeals,food,restaurant,delivery,order,management" />

    <title>iMeals Admin</title>
    <link rel="icon"
           type="image/vnd.microsoft.icon"
           href="/images/favicon.ico" />

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/plugins/morris.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper">

        <%- include nav.ejs -%>

        <div id="page-wrapper">

            <div class="container-fluid">

                <% if (globalErrorMessage) { %>
                <div class="row error">
                    <div class="col-lg-12">
                        <div class="alert alert-danger">
                            <i class="fa fa-warning"></i> <%= globalErrorMessage %>
                        </div>
                    </div>
                </div>
                <% } %>

                <% if (globalInfoMessage) { %>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i> <%= globalInfoMessage %>
                        </div>
                    </div>
                </div>
                <% } %>
