
<%- include header.ejs -%>

<link rel="stylesheet" type="text/css" href="/css/jTinder.css">
<script type="text/javascript" src="/js/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/jquery.jTinder.js"></script>
<script type="text/javascript" src="/js/jquery.highcharts.min.js"></script>
<script type="text/javascript" src="/js/jquery.highcharts-3d.min.js"></script>

<div class="wrap">
    <p>Welcome to iMeals, the Open Source Food &amp; Restaurant Management
    App. Feel free to checkout all modules on this Demo!</p>
</div>

<%- include footer.ejs -%>
