
<%- include ../header.ejs -%>

 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Users <small>Accounts Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Users
            </li>
        </ol>
    </div>
</div>

    <%- include employees.ejs -%>
    <%- include guests.ejs -%>

<%- include ../footer.ejs -%>
